body {
  /* display: flex;
  justify-content: right;
  align-items: center; */
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* background: #222; */
  font-size: 120%;
}

.card {
  background: #222222;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  position: fixed;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}